.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row > .left, #lezioni .row > .right{
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row > .left,
#steps .row > .central,
#steps .row > .right{
  float: left;
  width: 33%;
}

#steps{
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row > .first,
#why .row > .second,
#why .row > .third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color:#428bca;
  border-radius:50%;
  padding:30px
}

/* COMMON */

[background="grey"]{
  background-color: #f9f9f9;
}

img{
  height: 200px;
}

.clear {
  clear:both;
}

/***responsive***/
@media screen and (max-width: 736px){

  .row {
    width: 100%;
    margin: 10px;
  }

  #lezioni .row > .left,
  #lezioni .row > .right,
  #steps .row > .left,
  #steps .row > .central,
  #steps .row > .right{
    width: 100%;
    margin: 30px 0;
  }

  .left > h3,
  .right > h3 {
    width: 100%;
  }

  h1, h3 {
    font-size: 40px;
    color: blue;
    margin-right: 10px;
  }

  hr {
    margin-top: 30px;
  }

  img{
    height: 100px;
    margin-top: 30px;
  }
  p{
    font-size: 30px;
    margin-right: 10px;
  }
}
